body {
    font-family: Arial, sans-serif;
    background-color: #f1e8e8;
    color: #110e0e;
}
.center {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    border-radius: 10px;
    
  }
  
  .anime-img {
    display: block;
    margin: 40px auto 20px auto;
    width: 70%;
    height: auto;
    border-radius: 8px;
  }
  